[Unit]
Description=servername minecraft server
After=network-online.target

[Service]
User=replace
WorkingDirectory=dirname/minecraftbe/servername
Type=forking
ExecStart=/bin/bash dirname/minecraftbe/servername/start.sh
ExecStop=/bin/bash dirname/minecraftbe/servername/stop.sh
GuessMainPID=no
TimeoutStartSec=600

[Install]
WantedBy=multi-user.target