[Unit]
Description=minecraftbe server service
After=network-online.target

[Service]
User=replace
WorkingDirectory=dirname/minecraft
Type=forking
ExecStart=/bin/bash dirname/minecraft/start.sh
ExecStop=/bin/bash dirname/minecraft/stop.sh
GuessMainPID=no

[Install]
WantedBy=multi-user.target